<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC" />
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://localhost:3306/spring"/>
                <property name="username" value="root"/>
                <property name="password" value="wudi@1987"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper resource="mapper/SysUserMapper.xml"/>
    </mappers>

    <!--<settings>-->
        <!--<setting name="cacheEnabled" value="true"/>  &lt;!&ndash; 全局映射器启用缓存 &ndash;&gt;-->
        <!--<setting name="useGeneratedKeys" value="true"/>  &lt;!&ndash; 允许 JDBC 支持自动生成主键 &ndash;&gt;-->
        <!--<setting name="defaultExecutorType" value="REUSE"/> &lt;!&ndash; 配置默认的执行器 &ndash;&gt;-->
        <!--<setting name="logImpl" value="SLF4J"/> &lt;!&ndash; 指定 MyBatis 所用日志的具体实现 &ndash;&gt;-->
    <!--</settings>-->

</configuration>
